@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "./variables";
// $spacers: map-merge($spacers, (2px: 2px));
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/bootstrap";

@import "./custom";



body{
font-family: 'Bellefair', serif;

font-weight: 400;
background-color:  #0B0D17;
  min-height: 100vh;
  background-size: cover;
}


body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .home-page{background-image: url("/src/assets/home/background-home-mobile.jpg");}
@media (min-width: 768px) {
  .home-page { background-image: url("/src/assets/home/background-home-tablet.jpg");
  }}
@media (min-width: 1440px) {
  .home-page {background-image: url("/src/assets/home/background-home-desktop.jpg");
  }}

  .destination-page{background-image: url("/src/assets/destination/background-destination-mobile.jpg");}
@media (min-width: 768px) {
  .destination-page { background-image: url("/src/assets/destination/background-destination-tablet.jpg");
  }}
@media (min-width: 1440px) {
  .destination-page {background-image: url("/src/assets/destination/background-destination-desktop.jpg");
  }}

   .crew-page{background-image: url("/src/assets/crew/background-crew-mobile.jpg");}
@media (min-width: 768px) {
  .crew-page { background-image: url("/src/assets/crew/background-crew-tablet.jpg");
  }}
@media (min-width: 1440px) {
  .crew-page {background-image: url("/src/assets/crew/background-crew-desktop.jpg");
  }}
 
  .tech-page{background-image: url("/src/assets/technology/background-technology-mobile.jpg");}
@media (min-width: 768px) {
  .tech-page { background-image: url("/src/assets/technology/background-technology-tablet.jpg");
  }}
@media (min-width: 1440px) {
  .tech-page {background-image: url("/src/assets/technology/background-technology-desktop.jpg");
  }}

/* ---========MENU========--- */
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  padding: 32px;
  padding-right: 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
   z-index: 1000;
}
@media (min-width: 768px) {
  .nav-mobile {
     position: static;        
     height: auto;
     width: auto;
    transform: none;         
    background: transparent; 
    backdrop-filter: none;
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
  }
}

  .nav-mobile .navbar-nav {
       gap: 40px;
  }
.nav-mobile.open {
  transform: translateX(0);
}

.nav-item {
  position: relative;
  // display: inline-block;
}
.nav-link {
  position: relative;
  
}
.nav-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0; /* 🔥 по краю */
  transform: translateY(-50%);
  width: 3px;
  height: 32px;
  background: white;
  opacity: 0;
  transition: 0.2s;
}

.nav-item.active::after {
  opacity: 1;
}


@media (min-width: 768px) {
    .nav-link {
    position: relative;
  }
    .nav-link::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -38.5px; 

    width: 100%;
    height: 3px;

    background: white;

    opacity: 0;
    transition: 0.3s;
  }
  
  .nav-link.active::after {
  opacity: 1;
}

    .nav-item::after {
    display: none;
  }
}
// @media (min-width: 768px) {
    .tab-planet {
    position: relative;
  }
    .tab-planet::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -13px; 

    width: 100%;
    height: 3px;

    background: white;

    opacity: 0;
    transition: 0.3s;
  }
  
  .tab-planet.active::after {
  opacity: 1;
}
// }
.text-preset-1 {
  font-size: 80px;
  line-height: 1.719;
}

.text-preset-2 {
    font-size: 100px;
    line-height: 1.146   ;
}

.text-preset-3 {
   font-size: 56px;
   line-height: 0.64;
}

.text-preset-4 {
    font-size: 32px;
  line-height: 0.368;
}

.text-preset-5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 4px;
}

.text-preset-6 {
   font-size: 28px;
  line-height: 2;
 }

.text-preset-7 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
   letter-spacing: 2px;
  line-height: 2;
}

.text-preset-8 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
   letter-spacing: 2px;
  line-height: 0.192;
}

.text-preset-9 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
   line-height: 1.8;
}

.logo-size {
  width: 40px;
  height: 40px;
}

.tab {
   position: relative;
   cursor: pointer;
}

/* Активный */
.tab:hover {
  color: #fff;
}

/* Линия снизу */
.tab:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px; 
  width: 100%;
  height: 3px;
  background-color: white;
}
 .tech-img {
  width: 100%;
  margin: 0 auto;
}

/* ОБЩЕЕ */
.tech-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 📱 Мобилка */
@media (max-width: 767px) {
  .tech-img {
    min-width: 373px;
    min-height: 258px;
    overflow: hidden;
  }
}
  .tech-img img {
    object-position: center; 
  }
/* 📱➡️ Планшет */
@media (min-width: 768px) and (max-width: 1399px) {
  .tech-img {
    // min-width: 768px;
    height: 357px;
    
  }

  .tech-img img {
    object-position: center; 
  }
}

/* 💻 Десктоп */
@media (min-width: 1400px) {
   .tech-img {
    min-width: 608px;
    min-height: 600px;

    width: 100%;
    height: 600px; /* ключевой момент */
    overflow: hidden;
  }

  .tech-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.tech-menu{
  width: 40px;
  height: 40px;
    display: flex;
  align-items: center;     /* вертикально */
  justify-content: center;
  font-size: 18;
  line-height: auto;
  background-color: $color-dark;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
 text-decoration: none;
}
.tech-menu.active{
   background-color:  white;
   color:$color-dark;
}

@media (min-width: 768px){
  .tech-menu{
  width: 56px;
  height: 56px;
    }
}
@media (min-width: 1400px){
  .tech-menu{
  width: 80px;
  height: 80px;
  flex-direction: column;
  gap: 32px;
    }
}